@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in-from-right {
    animation: slideInFromRight 0.5s ease-in-out;
}

.animate-slide-in-from-left {
    animation: slideInFromLeft 0.5s ease-in-out;
}

.nav{
    @apply relative tracking-[1px] text-black hover:text-purple-600
}
.nav::after{
    @apply content-[''] bg-purple-600 h-[3px] w-[0%] -bottom-[5px] rounded-xl absolute duration-300 left-0
}
.nav:hover::after{
    @apply w-[100%]
}