@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Laila&family=Open+Sans:wght@400;600&family=Playfair:wght@400;600&family=Poppins:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in-from-right {
    animation: slideInFromRight 0.5s ease-in-out;
}

.animate-slide-in-from-left {
    animation: slideInFromLeft 0.5s ease-in-out;
}